.left-nav {
    position: relative;
    width: 200px;
    height: 100%;
    border: 1px solid rgb(217, 217, 217);
}

.card-header {
    padding: 0;
}

.card-body {
    padding: 5px 20px;
}

.btn-content {
    background: rgb(255, 255, 255);
}

.box_select {
    margin: 0;
    list-style: none;
    padding-left: 24px;
}

.box_select-item {
    height: 30px;
    line-height: 30px;
    /*border: 1px solid #c7edcc;*/
    margin-left: -15px;
}

.btn-content:hover {
    background: rgb(217, 217, 217);
}

.left-nav-icon {
    color: rgb(217, 217, 217);
    width: 20px;
    margin-right: 10px;
}

.box_select-text {
    font-size: 16px;
    color: black;
}

.box_select-content {
    color: rgb(128, 128, 128);
    font-size: 15px;
}