.body {
    background-color: #F6F6F6;
}
.login_all {
    height: 75%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}
.register_all {
    height: 90%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}
.form-text {
    text-align: left;
}
#logo {
    width: 80px;
    height: 80px;
}
#canvas {
    border: 1px solid #ccc;
    border-radius: 5px;
}