*{
    margin: 0;
    padding: 0;
}
/*  设置header下所有div内容居中  */
.header>div{
    height: 67px;
    text-align: center;
    line-height: 60px;
}
/*  设置背景图片样式  */
.banner{
    height: 67px;
    /*  相对定位  */
    position: relative;
    top: -67px;
    left: 0;
    /*  设置背景图片居中并且不允许平铺  */
    background: url(../img/head_bg.png)  center no-repeat;
    /*  设置背景图置于底部  */
    z-index: -1;
}
/*  设置图片的高度  */
div>img{
    height: 50px;
}
ul,li{
    /*  清除ul,li自带的格式  */
    list-style: none;
    margin: 0;
    padding: 0;
    /*  设置弹性布局  */
    display: flex;
    /*  设置水平居中  */
    justify-content: space-between;
    align-items: center;
}
/*  设置超链接字体颜色  */
.header>div>ul>li>a{
    text-decoration: none;
    color: black;
    display: block;
    float: left;
    width: 120px;
    height: 67px;
}
/*  设置header中第一个div左对齐  */
.header>div:first-child{
    text-align: left;
}
/*  设置header中最后一个div右对齐  */
.header>div:last-child{
    text-align: right;
}
.header>div>ul>li>a:hover{
    background-color: #065279;
    color: white;
    opacity:0.85;
    filter:alpha(opacity=85);
}
button{

}